.hero {
  height: 500px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  opacity: 0.4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background: grey; */
  /* ^this gives a kind of dimmness to the image, makes it easier to see white font on it. */
}

.hero * {
  position: relative;
  z-index: 2;
}

.hero h1,
.hero h2 {
  color: #1d3cad;
  text-shadow: 2px 2px #15b6df;
}

.hero h1 {
  font-size: 60px;
  padding-top: 140px;
  margin-top: 0;
}
